.top{
	background-image: url('../img/about_us-bg.jpg');
	@media (max-width: 600px){
		height: 500px;
	}
	&__dscr-wrap{
		margin-top: 10vh;
		@media (max-width: 600px){
			margin-top: 0;
		}
	}
	&__text-wrap{
		margin-bottom: 0;
		@media (max-width: 600px){
			margin-bottom: 30px;
		}
	}
}

.dscr{
	@media (max-width: 600px){
		padding-top: 0;
	}
	&__title{
		margin-bottom: 30px;
	}
	&__inner{
		display: grid;
		grid-template-columns: minmax(auto, 1.3fr) minmax(auto, 1fr);
		@media (max-width: 600px){
			grid-template-columns: minmax(auto, 1.3fr);
		}
	}
	&__text + &__text{
		margin-top: 30px;
		@media (max-width: 800px){
			margin-top: 20px;
		}
	}
	&__text{
		font-size: 17px;
		line-height: 20px;
		span{
			display: inline-block;
			padding: 2px 5px;
			background-color: #3425E1;
			text-shadow: 0 -1px 2px #170F70, 0 -1px 2px #170F70, 0 1px 2px #170F70, 0 1px 2px #170F70, -1px 0 2px #170F70, 1px 0 2px #170F70, -1px 0 2px #170F70, 1px 0 2px #170F70, -1px -1px 2px #170F70, 1px -1px 2px #170F70, -1px 1px 2px #170F70, 1px 1px 2px #170F70, -1px -1px 2px #170F70, 1px -1px 2px #170F70, -1px 1px 2px #170F70, 1px 1px 2px #170F70;
		}
		@media (max-width: 600px){
			font-size: 14px;
		}
	}
	&__image{
		background-image: url("../img/dscr_about.svg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		height: 430px;
		@media (max-width: 600px){
			order: -1;
			width: 60%;
			margin-left: auto;
			height: 326px;
		}
	}
}

.reviews{
	background: #151A51;
	&__title{
		margin-bottom: 80px;
		@media (max-width: 600px){
			margin-bottom: 40px;
		}
	}
	.reviews__slider{
		padding-top: 70px;
		margin-left: calc((100vw - 255px - 255px - 1440px) / 2 + 255px + 255px);
		padding-right: 300px;
		@media (max-width: 1440px){
			margin-left: 255px;
		}
		@media (max-width: 1112px){
			margin-left: 199px;
		}
		@media (max-width: 800px){
			padding-right: 0;
		}
		@media (max-width: 600px) {
			margin-left: 0px;
			padding-left: 16px;
		}
	}
	&__item{
		@media (max-width: 800px){
			max-width: 100vw;
		}
		&-top{
			display: flex;
			align-items: center;
			margin-bottom: 54px;
			@media (max-width: 700px){
				align-items: flex-start;
			}
			img{
				width: 100px;
				margin-right: 20px;
				display: block;
				@media (max-width: 600px){
					width: 70px;
				}
			}
		}
		&-name{
			text-transform: uppercase;
			margin-bottom: 2px;
		}
		&-work{
			font-size: 12px;
			line-height: 130%;
			margin-bottom: 20px;
		}
		&-tegs{
			margin: 0 -4px;
			display: flex;
			flex-wrap: wrap;
			p{
				margin: 4px;
				padding: 3px 10px;
				background: #3425E1;
				border-radius: 200px;
				font-size: 12px;
			}
		}
		&-text{
			position: relative;
			line-height: 130%;
			margin-bottom: 30px;
			&::before{
				content: '';
				position: absolute;
				width: 73px;
				height: 57px;
				top: -27px;
				left: -40px;
				background-image: url("../img/icons/reviews-icon.svg");
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				@media (max-width: 800px){
					left: -10px;
				}
			}
			@media (max-width: 600px){
				font-size: 14px;
				padding: 0 16px 0 0;
			}
		}
		&-btn{
			text-transform: uppercase;
			font-size: 12px;
			text-shadow:
			-0 -1px 2px #170F70,
			0 -1px 2px #170F70,
			-0 1px 2px #170F70,
			0 1px 2px #170F70,
			-1px -0 2px #170F70,
			1px -0 2px #170F70,
			-1px 0 2px #170F70,
			1px 0 2px #170F70,
			-1px -1px 2px #170F70,
			1px -1px 2px #170F70,
			-1px 1px 2px #170F70,
			1px 1px 2px #170F70,
			-1px -1px 2px #170F70,
			1px -1px 2px #170F70,
			-1px 1px 2px #170F70,
			1px 1px 2px #170F70;
		}
	}
	&__slider-arrows{
		z-index: 100;
		position: absolute;
		top: 0;
		right: 16px;
		display: none;
		@media (max-width: 600px){
			display: flex;
		}
		.reviews__slider-arrow{
			width: 32px;
			height: 32px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			cursor: pointer;
		}
		&-next{
			transform: rotate(180deg);
			background-image: url('../img/icons/arrow.svg');
		}
		&-prev{
			background-image: url('../img/icons/arrow.svg');
			margin-right: 14px;
		}
	}
}

.footer{
	&::before{
		display: none;
	}
}