body{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	max-height: 100vh;
	height: 100vh;
	padding: 20px 0;
	position: relative;
	background-image: url("../img/top_bg.svg");
	background-position: center left;
	background-repeat: no-repeat;
	background-size: cover;
	&::before{
		content: '';
		position: absolute;
		width: 213px;
		height: 184px;
		top: 50px;
		right: 105px;
		background-image: url("../img/triangle-contact.svg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}
	&::after {
		content: '';
		position: absolute;
		width: 213px;
		height: 184px;
		bottom: 0px;
		left: 100px;
		background-image: url("../img/triangle-contact.svg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		transform: rotate(180deg);
	}
	&::after, &::before{
		@media (max-width: 600px){
			display: none;
		}
	}
}

.logo{
	margin-bottom: 10px;
	@media (max-width: 600px){
		width: 60px;
	}
}

.title{
	margin-bottom: 20px;
	text-align: center;
	font-size: 34px;
	@media (max-width: 600px){
		font-size: 21px;
	}
}

form{
	background: #0D0D0D;
	overflow: hidden;
	overflow-y: scroll;
	border: 1px solid #fff;
	border-radius: 10px;
	padding: 40px 60px;
	box-shadow: 0px 0px 20px rgba(255, 255, 225, 0.3);
	height: 418px;
	@media (max-width: 600px){
		width: 80vw;
		padding: 40px 20px;
	}
	&::-webkit-scrollbar{
		background: #fff;
		width: 3px;
		border-radius: 50%;
	}
	&::-webkit-scrollbar-thumb{
		background: #151A51;
		border-radius: 10px;
	}
	.brefe_slides{
		min-width: 400px;
		position: relative;
		height: 354px;
		@media (max-width: 600px){
			min-width: 100%;
		}
	}
	.brefe_slide{
		height: 100%;
		display: grid;
		grid-auto-flow: row;
		grid-template: auto 1fr / 1fr;
		width: 100%;
		position: absolute;
		opacity: 0;
		transform: translate(-100%, 0);
		transition: .5s ease;
		@media (max-width: 600px){
			height: 100%;
		}
		&.active{
			transform: translate(0, 0);
			opacity: 1;
		}
		&.hide{
			visibility: hidden;
			height: 0;
		}
		p{
			text-transform: uppercase;
			color: #fff;
			font-size: 16px;
			margin-bottom: 20px;
		}
		textarea{
			height: 120px;
			&::-webkit-scrollbar{
				background: #fff;
				width: 3px;
				border-radius: 50%;
			}
			&::-webkit-scrollbar-thumb{
				background: #151A51;
				border-radius: 10px;
			}
		}
		.textarea-big{
			height: 200px;
		}
	}
	.select__wrap{
		position: relative;
		width: 400px;
		@media (max-width: 600px){
			width: 100%;
		}
		.select__value{	
			position: relative;
			cursor: pointer;
			padding: 18px 20px 15px 20px;
			&::before {
				transition: .3s ease;
				content: '';
				position: absolute;
				width: 13px;
				height: 13px;
				top: 50%;
				transform: translate(0, -50%);
				right: 20px;
				background-image: url("../img/icons/select-icon.svg");
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
			}
			&.active::before{
				transform: translate(0, -50%) rotate(180deg);
			}
		}
	}
	.input__wrapper + .input__wrapper{
		margin-top: 20px;
	}
	.input__wrapper-btn{
		transition: .3s ease;
		position: relative;
		overflow: hidden;
		.button__line{
			position: absolute;
			display: block;
		}
		.button__line--top{
			top: 0;
			left:  -100%;
			width: 100%;
			height: 3px;
			background: linear-gradient(90deg, transparent, #fff);
			box-shadow: 0px 0px 15px rgba(52, 37, 225, 1);
		}
		&:hover .button__line--top{
			left: 100%;
			transition: 1s;
			transition-delay: 0.25s;
		}
		.button__line--bottom{
			bottom: 0;
			right:  -100%;
			width: 100%;
			height: 3px;
			background: linear-gradient(270deg, transparent, #fff);
		}
		&:hover .button__line--bottom{
			right: 100%;
			transition: 1s;
			transition-delay: 0.25s;
		}
		.button__line--left{
			bottom: -100%;
			left: 0;
			width: 3px;
			height: 100%;
			background: linear-gradient(0deg, transparent, #fff);
		}
		&:hover .button__line--left{
			bottom: 100%;
			transition: 1s;
			transition-delay: 0s;
		}
		.button__line--right{
			top: -100%;
			right: 0;
			width: 3px;
			height: 100%;
			background: linear-gradient(180deg, transparent, #fff);
		}
		&:hover .button__line--right{
			top: 100%;
			transition: 1s;
			transition-delay: 0s;
		}
		&:hover{
			box-shadow: 0px 0px 25px rgba(52, 37, 225, 1);
		}
	}
	.select__option-wrap{
		opacity: 0;
		pointer-events: none;
		position: absolute;
		left: 0;
		width: 100%;
		font-size: 13px;
		text-transform: uppercase;
		background: #1A1A1A;
		color: #ffff;
		height: 160px;
		overflow-y: scroll;
		transition: .2s ease;	
		&::-webkit-scrollbar{
			background: #fff;
			width: 3px;
		}
		&::-webkit-scrollbar-thumb{
			background: #151A51;
			border-radius: 10px;
		}
		&.active{
			opacity: 1;
			pointer-events: auto;
		}
		&-item{
			padding: 18px 20px 13px 20px;
			transition: .3s ease;
			cursor: pointer;
			&:hover{
				background: #151A51;
			}
		}
	}
}