.clients{
	position: relative;
	&__items{
		padding-top: 0;
	}
	&__item{
		position: relative;
		width: 300px;
		height: 260px;
		margin-right: -100px;
		padding-right: 0;
		&::before{
			top: 0;
			left: 0;
		}
		&:nth-child(even){
			margin-top: 0;
			&::before{
				left: 0;
			}
			img{
				margin-top: 0;
				top: 15px;
			}
		}
		img{
			position: absolute;
			bottom: 15px;
			left: 50%;
			transform: translate(-50%, 0);
			display: block;
			border-radius: 0%;
			max-width: 165px;
			height: auto;
			transition: 0.3s ease;
			margin-bottom: 0px;
			filter: grayscale(1);
			object-position: center;
		}
	}
}