html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul {
  list-style: none;
}

body {
	margin: 0;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
}

input, textarea, select, button, .slick-slide, .slick-tarck, .slick-list {
  outline: none;
}

input, textarea,{
	border: none;
	background: transparent;
}

button{
	border: none;
	background: transparent;
	border-radius: 0;
	cursor: pointer;
}

img{
	width: 100%;
	object-fit: cover;
}
