.top{
	background-image: url('../img/sites-bg.jpg');
	@media (max-width: 600px){
		background-position: center;
		background-image: url('../img/sites-bg-media.jpg');
	}
}

.dscr{
	padding-bottom: 95px;
	@media (max-width: 980px){
		padding-top: 0;
	}
	&__inner{
		@media (max-width: 980px){
			grid-template-columns: minmax(auto, 1fr);
		}
	}
	&__content{
		@media (max-width: 980px) {
			width: 100%;
		}
	}
	&__text{
		padding-right: 50px;
		@media (max-width: 980px){
			padding-right: 0;
		}
	}
	&__image{
		background-image: url('../img/sites-dscr.png');
		background-size: 200%;
		background-position: center top;
		width: 267px;
		margin-left: auto;
		@media (max-width: 980px){
			width: 119px;
			order: -1;
			height: 109px;
			margin-bottom: 50px;
			margin-right: 40px;
		}
		@media (max-width: 600px){
			height: 160px;
		}
	}
}

.accordion{
	@media (max-width: 600px){
		padding-bottom: 0;
	}
	&__titlee{
		margin-bottom: 100px;
	}
	&__item{
		padding: 40px 0 0 0;
		border-bottom: 1px solid #858585;
		@media (max-width: 600px){
			padding-top: 24px;
		}
		&:nth-child(1) {
			border-top: 1px solid #858585;
		}
		&-icon {
			width: 36px;
			height: 36px;
			background-image: url("../img/icons/plus.svg");
			background-repeat: no-repeat;
			background-size: contain;
			position: absolute;
			right: 0;
			transition: .3s ease;
			@media (max-width: 600px){
				width: 20px;
				height: 20px;
			}
			&.active{
				transform: rotate(45deg);
			}
		}
		&-price {
			align-items: center;
			display: none;
			margin-left: auto;
			margin-right: 90px;
			p + p{
				margin-left: 20px;
			}
			p {
				text-transform: uppercase;
				font-size: 22px;
				color: #4D4D4D;
			}
		}
	}
	&__top{
		cursor: pointer;
		&:hover .accordion__item-price{
			display: flex;
			@media (max-width: 600px){
				display: none;
			}
		}
	}
	&__title{
		font-size: 2.50vw;
		text-transform: uppercase;
		margin-right: 20px;
		@media (max-width: 1200px){
			font-size: 16px;
		}
	}
	&__title-wrap{
		display: flex;
		position: relative;
		align-items: center;
		margin-bottom: 40px;
		@media (max-width: 600px){
			margin-bottom: 21px;
		}
	}
	&__text{
		max-height: 0;
		overflow: hidden;
		transition: .4s linear;
		max-width: 600px;
		line-height: 18px;
		&.opened{
			margin-bottom: 21px;
		}
		.accordion__item-price{
			display: none;
			@media (max-width: 600px){
				margin-top: 30px;
				width: 100%;
				display: flex;
				justify-content: space-between;
				p{
					font-size: 16px;
				}
			}
		}
	}
	&__btn{
		margin-top: 20px;
		text-transform: uppercase;
		display: block;
		width: max-content;
		font-size: 12px;
		text-transform: uppercase;
		text-shadow: 0 -1px 2px #170F70, 0 -1px 2px #170F70, 0 1px 2px #170F70, 0 1px 2px #170F70, -1px 0 2px #170F70, 1px 0 2px #170F70, -1px 0 2px #170F70, 1px 0 2px #170F70, -1px -1px 2px #170F70, 1px -1px 2px #170F70, -1px 1px 2px #170F70, 1px 1px 2px #170F70, -1px -1px 2px #170F70, 1px -1px 2px #170F70, -1px 1px 2px #170F70, 1px 1px 2px #170F70;
	}
}

.contact{
	@media (max-width: 600px){
		padding-bottom: 0;
	}
}
