@import 'reset.scss';

@font-face {
	font-family: 'HelveticaNeueCyr-Roman';
	src: url('../fonts/helveticaneuecyr/helveticaneuecyr-roman.eot');
	/* IE 9 Compatibility Mode */
	src: url('../fonts/helveticaneuecyr/helveticaneuecyr-roman.eot?#iefix') format('embedded-opentype'),
		/* IE < 9 */
		url('../fonts/helveticaneuecyr/helveticaneuecyr-roman.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('../fonts/helveticaneuecyr/helveticaneuecyr-roman.woff') format('woff'),
		/* Firefox >= 3.6, any other modern browser */
		url('../fonts/helveticaneuecyr/helveticaneuecyr-roman.ttf') format('truetype'),
		/* Safari, Android, iOS */
		url('../fonts/helveticaneuecyr/helveticaneuecyr-roman.svg#helveticaneuecyr-roman') format('svg');
	/* Chrome < 4, Legacy iOS */
}

:root{
	--darkBg: #0D0D0D;
	--textColor: #D9D9D9;
	--blueColor: #EBF5FC;
	--backgroundBlue: #151A51;
}

body {
	max-width: 100vw;
	font-family: 'HelveticaNeueCyr-Roman';
	background-color: var(--darkBg);
	color: var(--textColor);
	overflow-x: hidden;
	& *::selection{
		background: rgba(217, 217, 217, 0.3);
	}
}

.container{
	max-width: 1440px;
	padding: 0 255px;
	margin: 0 auto;
	@media (max-width: 1112px){
		padding: 0 199px;
	}
	@media (max-width: 800px){
		padding: 0 90px;
	}
	@media (max-width: 600px){
		padding: 0 16px;
	}
}
.container__video{
	max-width: 1440px;
	margin: 0 auto;
}

section{
	padding: 160px 0;
	@media (max-width: 600px){
		padding: 95px 0;
	}
}

.title{
	font-size: 2.50vw;
	text-transform: uppercase;
	@media (max-width: 1440px){
		font-size: 36px;
	}
	@media (max-width: 600px){
		font-size: 7.22vw;
	}
}
.nextTitle{
	font-size: 16px;
}

.menu__item{
	width: max-content;
	&:hover{
		text-decoration: underline;
	}
}

form{
	.input__wrapper+.input__wrapper {
		margin-top: 25px;
	}
	.input__wrapper {
		width: 100%;

		input, .select__value, textarea {
			border-bottom: 1px solid #858585;
			width: 100%;
			font-size: 16px;
			padding: 15px 12px;
			background: #1A1A1A;
			color: #ffff;
			border-radius: 10px 10px 0px 0px;
			&::placeholder {
				font-size: 16px;
				color: #858585;
			}
		}
		#file {
			opacity: 0;
			pointer-events: none;
			display: none;
		}
		#lebelFile {
			cursor: pointer;
			color: #858585;
			display: block;
			width: 100%;
			font-size: 16px;
			padding: 17px 12px;
			background: #1A1A1A;
			border-radius: 10px 10px 0px 0px;
		}
	}
	button, .input__wrapper-btn {
		cursor: pointer;
		text-align: center;
		box-shadow: 0px 0px 15px rgba(52, 37, 225, 1);
		padding: 13px 40px;
		width: 100%;
		border: 1px solid #fff;
		border-right: 2px solid #fff;
		border-left: 2px solid #fff;
		text-transform: uppercase;
		text-shadow:
			-0 -1px 2px #170F70,
			0 -1px 2px #170F70,
			-0 1px 2px #170F70,
			0 1px 2px #170F70,
			-1px -0 2px #170F70,
			1px -0 2px #170F70,
			-1px 0 2px #170F70,
			1px 0 2px #170F70,
			-1px -1px 2px #170F70,
			1px -1px 2px #170F70,
			-1px 1px 2px #170F70,
			1px 1px 2px #170F70,
			-1px -1px 2px #170F70,
			1px -1px 2px #170F70,
			-1px 1px 2px #170F70,
			1px 1px 2px #170F70;
		color: #fff;
		font-size: 18px;
		margin: 30px 0 20px 0;
	}
	p {
		text-align: center;
		color: #858585;
		font-size: 12px;
		a {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.phone{
	&__wrapper {
		top: 80%;
		position: sticky;
		width: 100%;
		z-index: 200;
		display: block;
		z-index: 999;
		@media (max-width: 570px) {
			top: 85%;
		}
	}
	&__pulse {
		cursor: pointer;
		width: 80px;
		height: 80px;
		border-radius: 50%;
		position: absolute;
		right: 50px;
		&::before,
		&::after {
			content: '';
			box-shadow: 0px 55px 180px 24px rgba(52, 37, 225, 0.6), 0px 4px 20px #3425E1, 0px 0px 20px #3425E1;
			position: absolute;
			border: 1px solid #fff;
			left: -20px;
			right: -20px;
			top: -20px;
			bottom: -20px;
			border-radius: 50%;
			animation: pulse 1.8s linear infinite;
			opacity: 0;
		}

		&::after {
			animation-delay: .5s;
		}

		@keyframes pulse {
			0% {
				opacity: 0;
				transform: scale(0.5);
			}

			50% {
				opacity: 1;
			}

			100% {
				opacity: 0;
				transform: scale(1);
			}
		}

		@media (max-width: 570px) {
			width: 50px;
			height: 50px;
			left: 20px;
		}
	}
	&__body {
		display: block;
		cursor: pointer;
		width: 80px;
		height: 80px;
		background: #FFFFFF;
		box-shadow: 0px 55px 180px 24px rgba(52, 37, 225, 0.6), 0px 4px 20px #3425E1, 0px 0px 20px #3425E1;
		border-radius: 50%;
		&::before {
			content: '';
			position: absolute;
			width: 50%;
			height: 50%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			border-radius: 50%;
			background-image: url("../img/icons/phone.svg");
			background-position: center top;
			background-repeat: no-repeat;
			background-size: contain;
		}

		&.active {
			.chat__menu {
				pointer-events: auto;
				opacity: 1;
				width: 300px;
				@media (max-width: 570px) {
					width: 220px;
					padding-right: 20px;
				}
			}
		}
		@media (max-width: 570px) {
			width: 50px;
			height: 50px;
			left: 20px;
		}
	}
}


.header{
	display: none;
	padding: 20px 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	@media (max-width: 600px){
		display: block;
	}
	&__inner{
		display: flex;
		justify-content: space-between;
		align-items: center;
		img{
			width: 40px;
		}
	}
	&__menu-btn{
		background: rgba(13, 13, 13, 0.5);
		border-radius: 50%;
		width: 44px;
		height: 44px;
		position: relative;
		@media (max-width: 600px){
			position: relative;
			z-index: 101;
		}
		&::before{
			content: '';
			position: absolute;
			width: 30px;
			height: 11px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-image: url("../img/icons/menu-icon.svg");
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}
		&.active::before{
			width: 23px;
			height: 21px;
			background-image: url("../img/icons/close.svg");
		}
	}
}

.top{
	width: 100vw;
	height: 100vh;
	background-image: url("../img/top_bg.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	@media (max-width: 1112px){
		background-position: center;
	}
	@media (max-width: 600px){
		background-position: center;
		background-image: url("../img/top_bg-media.svg");
		height: 500px;
	}
	&__inner{
		top: 0;
		position: absolute;
		height: 100vh;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	&__menu-bar{
		z-index: 105;
		background: var(--darkBg);
		position: fixed;
		top: 0;
		left: 0;
		box-shadow: 6px 0px 20px rgba(0, 0, 0, 0.3);
		height: 100vh;
		padding: 20px 16px;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		z-index: 999;
		@media (max-width: 600px){
			display: none;
		}
		&-btn{
			width: 32px;
			height: 30px;
			background-image: url("../img/icons/menu-icon.svg");
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			cursor: pointer;
			&.active{
				background-image: url("../img/icons/close.svg");
			}
		}
	}
	&__menu-wrapper{
		z-index: 999;
		position: fixed;
		top: 0;
		left: 64px;
		transform: translate(-150%, 0);
		padding: 20px;
		height: 100vh;
		background: var(--darkBg);
		box-shadow: 6px 0px 20px rgba(0, 0, 0, 0.3);
		z-index: 100;
		transition: .3s ease;
		&.activeMob{
			transform: translate(0, 0);
			width: 100vw;
			left: 0;
		}
		&.active{
			transform: translate(0, 0);
		}
		.menu__list-main{
			color: #858585;
			text-transform: uppercase;
			font-size: 16px;
			padding-bottom: 20px;
			.menu__item + .menu__item{
				margin-top: 8px;
			}
		}
	}
	&__menu{
		&-logo{
			max-width: 85px;
			margin-bottom: 30px;
			display: block;
			@media (max-width: 600px){
				max-width: 40px;
			}
		}
		&-inner{
			padding: 13px 0;
			border-top: 1px solid #4D4D4D;
			border-bottom: 1px solid #4D4D4D;
			margin-bottom: 20px;
			&-title{
				color: #858585;
				text-transform: uppercase;
				font-size: 16px;
				margin-bottom: 12px;
			}
			.menu__item + .menu__item{
				margin-top: 12px;
			}
			.menu__item{
				max-width: 150px;
				font-size: 12px;
				text-transform: uppercase;
			}
		}
	}
	&__text-wrap{
		margin-bottom: 65px;
		@media (max-width: 980px){
			margin-bottom: 30px;
		}
	}
	&__text + &__text{
		margin-top: 30px;
	}
	&__text{
		font-size: 3.03vw;
		text-transform: uppercase;
		@media (max-width: 1440px){
			font-size: 46px;
		}
		@media (max-width: 1024px){
			font-size: 36px;
		}
		@media (max-width: 860px){
			font-size: 4vw;
		}
	}
	&__btn + &__btn{
		margin-top: 20px;
		margin-bottom: 55px;
	}
	&__btn{
		width: max-content;
		text-transform: uppercase;
		font-size: 1.53vw;
		padding-right: 24px;
		cursor: pointer;
		text-shadow:
			-0 -1px 2px #170F70,
			0 -1px 2px #170F70,
			-0 1px 2px #170F70,
			0 1px 2px #170F70,
			-1px -0 2px #170F70,
			1px -0 2px #170F70,
			-1px 0 2px #170F70,
			1px 0 2px #170F70,
			-1px -1px 2px #170F70,
			1px -1px 2px #170F70,
			-1px 1px 2px #170F70,
			1px 1px 2px #170F70,
			-1px -1px 2px #170F70,
			1px -1px 2px #170F70,
			-1px 1px 2px #170F70,
			1px 1px 2px #170F70;
		position: relative;
		&::before{
			content: '';
			position: absolute;
			width: 15px;
			height: 15px;
			top: 40%;
			transform: translate(0, -50%);
			right: 0;
			background-image: url("../img/icons/btn_icon.svg");
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}
		@media (max-width: 1440px){
			font-size: 22px;
		}
		@media (max-width: 980px){
			margin-top: 80px;
			margin-bottom: 0;
		}
		@media (max-width: 600px){
			font-size: 14px;
		}
	}
	&__dscr-text{
		text-transform: uppercase;
		font-size: 0.69vw;
		line-height: 13px;
		margin-left: 34vw;
		@media (max-width: 1440px){
			font-size: 10px;
		}
		@media (max-width: 980px){
			margin-left: 0;
			line-height: 10px;
			font-size: 8px;
		}
	}
	&__dscr-wrap{
		display: flex;
		flex-direction: column;
		@media (max-width: 980px){
			.top__dscr-text{
				order: -1;
			}
		}
	}
}

.staf{
	position: relative;
	@media (max-width: 600px){
		padding-bottom: 0;
	}
	&__title{
		margin-bottom: 30px;
	}
	&__nextTitle + &__nextTitle{
		margin-top: 20px;
	}
	&__nextTitle{
		max-width: 405px;
		font-size: 16px;
		line-height: 20px;
		@media (max-width: 600px){
			font-size: 14px;
			line-height: 18px;
			max-width: 258px;
		}
	}
	&__items{
		padding-left: calc((100vw - 255px - 255px - 1440px) / 2 + 255px + 255px);
		margin-top: -120px;
		padding-top: 120px;
		margin-top: 115px;
		display: flex;
		max-width: 100vw;
		overflow-x: scroll;
		@media (max-width: 1440px){
			padding-left: 255px;
		}
		@media (max-width: 800px){
			padding-left: 120px;
		}
		@media (max-width: 600px) {
			margin-top: 58px;
			padding-top: 70px;
			padding-left: 16px;
			padding-bottom: 95px;
		}
		&::-webkit-scrollbar{
			display: none;
			@media (max-width: 600px){
				height: 1px;
				display: block;
				background: transparent;
			}
		}
		&::-webkit-scrollbar-thumb{
			background: var(--textColor);
		}
		&-btns{
			bottom: 60px;
			right: 60px;
			position: absolute;
			display: flex;
			@media (max-width: 600px){
				display: none;
			}
			.staf__items-btn{
				width: 42px;
				height: 42px;
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				cursor: pointer;
			}
			.staf__items-prev{
				background-image: url('../img/icons/arrow.svg');
				margin-right: 14px;
			}
			.staf__items-next {
				transform: rotate(180deg);
				background-image: url('../img/icons/arrow.svg');
			}
		}
	}
	&__item{
		padding-right: 70px;
		position: relative;
		display: flex;
		flex-direction: column;
		@media (max-width: 600px){
			padding-right: 50px;
		}
		&:nth-child(even){
			margin-top: -20px;
			@media (max-width: 600px){
				margin-top: 0;
			}
			.staf__item-dscr{
				order: -1;
				margin-top: -100px;
				@media (max-width: 600px){
					margin-top: -65px;
				}
			}
			img{
				margin-bottom: 0;
				margin-top: 30px;
				border-radius: 50%;
				@media (max-width: 600px){
					margin-top: 18px;
				}
			}
		}
		&:nth-child(even)::before{
			transform: rotate(180deg);
			left: 20px;
			@media (max-width: 600px){
				left: 15px;
			}
		}
		&::before{
			content: '';
			position: absolute;
			width: 300px;
			height: 260px;
			top: -45px;
			left: 0;
			background-image: url("../img/staf-bg.svg");
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			z-index: -1;
			@media (max-width: 600px){
				width: 141px;
				height: 123px;
				background-image: url("../img/staf-bg-media.svg");
				top: -10px;
				left: 15px;
			}
		}
		&:hover img{
			filter: grayscale(0);
		}
		&:hover::before{
			background-image: url("../img/staf-bg-active.svg");
			@media (max-width: 600px){
				background-image: url("../img/staf-bg-media.svg");
			}
		}
		img{
			display: block;
			border-radius: 50%;
			width: 200px;
			height: 200px;
			margin-bottom: 30px;
			transition: .3s ease;
			filter: grayscale(1);
			object-position: top center;
			@media (max-width: 600px){
				width: 100px;
				height: 100px;
				filter: grayscale(0);
			}
		}
		&-dscr{
			padding-left: 50px;
			@media (max-width: 600px){
				padding-left: 20px;
			}
		}
		&-name{
			text-transform: uppercase;
			font-size: 22px;
			margin-bottom: 8px;
			@media (max-width: 600px){
				font-size: 16px;
			}
		}
		&-job{
			font-size: 12px;
		}
	}
}

.why__we{
	background: var(--backgroundBlue);
	&__inner{
		display: flex;
		justify-content: space-between;
	}
	&-title{
		position: sticky;
		top: 200px;
		@media (max-width: 800px){
			position: static;
		}
		@media (max-width: 600px){
			display: none;
		}
		&-media{
			display: none;
			@media (max-width: 600px){
				display: block;
			}
		}
	}
	&-items{
		margin-top: -80px;
		width: max-content;
		max-width: 50%;
		margin-left: auto;
		@media (max-width: 1112px){
			margin-top: 80px;
			max-width: 100%;
		}
		@media (max-width: 800px){
			width: 100%;
		}
	}
	&-item + &-item{
		margin-top: 80px;
		@media (max-width: 600px){
			margin-top: 50px;
		}
	}
	&-item{
		max-width: 405px;
		line-height: 20px;
		@media (max-width: 1112px){
			max-width: 320px;
			margin-left: auto;
		}
		@media (max-width: 600px){
			max-width: 100%;
			font-size: 14px;
			display: flex;
		}
		&-num{
			font-size: 36px;
			text-shadow: 0px 0px 10px #3425E1;
			margin-bottom: 15px;
			position: relative;
			padding-left: 16px;
			z-index: 2;
			&::before{
				content: '';
				position: absolute;
				width: 75px;
				height: 67px;
				bottom: -5px;
				left: 0;
				background-image: url("../img/triangle.svg");
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				@media (max-width: 600px){
					width: 60px;
					height: 53px;
					bottom: 0;
				}
			}
			@media (max-width: 600px){
				margin-right: 58px;
				margin-bottom: 0;
				font-size: 28px;
				height: max-content;
				padding-top: 35px;
			}
		}
		&.active &-num::before{
			background-image: url("../img/triangle-active.svg");
		}
	}
}

.projects{
	padding-bottom: 0px;
	&__title{
		margin-bottom: 20px;
	}
	&__nextTitle{
		margin-bottom: 100px;
	}
	&__items{
		max-width: 1442px;
		margin: 0 auto 60px auto;
		padding-left: 64px;
		display: grid;
		grid-template-columns: repeat(3, minmax(auto, 1fr));
		grid-auto-flow: row;
		gap: 15px;
		@media (max-width: 1112px){
			grid-template-columns: repeat(2, minmax(auto, 1fr));
		}
		@media (max-width: 600px) {
			grid-template-columns: repeat(1, minmax(auto, 1fr));
			padding-left: 0;
			margin: 0 auto 50px auto;
		}
	}
	&__item{
		display: block;
		cursor: pointer;
		position: relative;
		&:hover &-show{
			opacity: 1;
			pointer-events: auto;
		}
		&-img{
			height: 300px;
		}
		img{
			display: block;
		}
		&-title{
			z-index: 21;
			position: relative;
			text-transform: uppercase;
			font-size: 22px;
			margin-bottom: 10px;
			@media (max-width: 600px){
				font-size: 16px;
			}
		}
		&-tegs{
			z-index: 21;
			position: relative;
			display: flex;
			flex-wrap: wrap;
			margin: 0 -4px;
			span{
				margin: 4px;
				padding: 4px 10px;
				background: rgba(255, 255, 255, 0.7);
				border-radius: 200px;
				font-size: 12px;
				color: var(--backgroundBlue);
			}
		}
		&-dscr{
			max-width: 95%;
			padding: 20px;
		}
		&-show{
			transition: .2s ease;
			opacity: 0;
			pointer-events: none;
			padding: 20px;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.9);
			display: grid;
			grid-auto-flow: row;
			grid-template: 1fr auto/ 1fr;
			z-index: 100;
			img{
				max-width: 138px;
				margin-bottom: 20px;
				@media (max-width: 900px){
					max-width: 100px;
				}
				@media (max-width: 600px){
					max-width: 90px;
				}
				@media (max-width: 350px){
					max-width: 70px;
					margin-bottom: 10px;
				}
			}
		}
		&-text{
			font-size: 16px;
			line-height: 20px;
			@media (max-width: 900px){
				font-size: 14px;
			}
			@media (max-width: 350px){
				font-size: 12px;
				line-height: 16px;
			}
		}
		&-btn{
			width: max-content;
			font-size: 12px;
			text-transform: uppercase;
			text-shadow:
			-0 -1px 2px #170F70,
			0 -1px 2px #170F70,
			-0 1px 2px #170F70,
			0 1px 2px #170F70,
			-1px -0 2px #170F70,
			1px -0 2px #170F70,
			-1px 0 2px #170F70,
			1px 0 2px #170F70,
			-1px -1px 2px #170F70,
			1px -1px 2px #170F70,
			-1px 1px 2px #170F70,
			1px 1px 2px #170F70,
			-1px -1px 2px #170F70,
			1px -1px 2px #170F70,
			-1px 1px 2px #170F70,
			1px 1px 2px #170F70;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	&__dscrText{
		text-align: center;
		font-size: 16px;
		line-height: 18px;
		margin-bottom: 20px;
	}
	&__btn{
		display: block;
		cursor: pointer;
		margin: 0 auto;
		width: max-content;
		text-transform: uppercase;
		font-size: 18px;
		padding: 17px 33px 15px 33px;
		border: 1px solid #fff;
		box-shadow: 0px 0px 10px rgba(52, 37, 225, 0.5);
		text-shadow:
			-0 -1px 2px #170F70,
			0 -1px 2px #170F70,
			-0 1px 2px #170F70,
			0 1px 2px #170F70,
			-1px -0 2px #170F70,
			1px -0 2px #170F70,
			-1px 0 2px #170F70,
			1px 0 2px #170F70,
			-1px -1px 2px #170F70,
			1px -1px 2px #170F70,
			-1px 1px 2px #170F70,
			1px 1px 2px #170F70,
			-1px -1px 2px #170F70,
			1px -1px 2px #170F70,
			-1px 1px 2px #170F70,
			1px 1px 2px #170F70;
			@media (max-width: 600px){
				width: 92%;
				margin: 0 16px;
				text-align: center;
			}
			@media (max-width: 350px){
				font-size: 15px;
			}
	}
}

.contact{
	position: relative;
	// background: var(--backgroundBlue);
	@media (max-width: 600px){
	 overflow: hidden;
	}
	&::before{
		content: '';
		position: absolute;
		width: 213px;
		height: 184px;
		top: -100px;
		right: 105px;
		background-image: url("../img/triangle-contact.svg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		z-index: -1;
		@media (max-width: 800px){
			top: 180px;
			right: -100px;
		}
		@media (max-width: 600px){
			right: -20px;
			width: 100px;
			height: 90px;
		}
	}
	&__title{
		margin-bottom: 60px;
		span{
			display: block;
		}
		@media (max-width: 600px){
			span{
				display: inline-block;
			}
		}
	}
	&__inner{
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: 800px){
			flex-direction: column;
		}
	}
	&__dscr{
		color: #fff;
		margin-right: 38px;
		width: 100%;
		@media (max-width: 800px){
			width: max-content;
			margin: 0 auto 30px auto;
		}
		@media (max-width: 600px){
			font-size: 14px;
			margin: 0 0 30px 0;
			width: 100%;
		}
	}
	&__text{
		font-size: 16px;
		line-height: 20px;
		&:nth-child(1){
			margin-bottom: 30px;
		}
	}
	&__item + &__item{
		margin-top: 20px;
	}
	&__items{
		margin-bottom: 30px;
	}
	&__item{
		padding-left: 34px;
		max-width: 318px;
		line-height: 20px;
		position: relative;
		&::before{
			content: '';
			position: absolute;
			width: 11px;
			height: 55px;
			top: 0;
			left: 0;
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
		}
		&:nth-child(1)::before{
			background-image: url("../img/icons/arrow-neon.svg");
		}
		&:nth-child(2)::before {
			top: 50%;
			background-image: url("../img/icons/arrow-neon.svg");
		}
		@media (max-width: 600px){
			max-width: 224px;
		}
		span{
			text-shadow:
			-0 -1px 3px #3425E1,
			0 -1px 3px #3425E1,
			-0 1px 3px #3425E1,
			0 1px 3px #3425E1,
			-1px -0 3px #3425E1,
			1px -0 3px #3425E1,
			-1px 0 3px #3425E1,
			1px 0 3px #3425E1,
			-1px -1px 3px #3425E1,
			1px -1px 3px #3425E1,
			-1px 1px 3px #3425E1,
			1px 1px 3px #3425E1,
			-1px -1px 3px #3425E1,
			1px -1px 3px #3425E1,
			-1px 1px 3px #3425E1,
			1px 1px 3px #3425E1;
		}
	}
	&__form{
		width: 100%;
	}
}

.capabilities{
	background: var(--backgroundBlue);
	padding-bottom: 100px;
	&__title{
		margin-bottom: 60px;
	}
	&__items-wrap{
		display: flex;
		justify-content: space-between;
		margin: 0 -50px;
		@media (max-width: 1112px){
			margin: 0 -10px;
		}
		@media (max-width: 1000px){
			display: none;
		}
	}
	&__items-wrap-media{
		display: none;
		@media (max-width: 1000px){
			display: flex;
			margin: 0 -10px;
		}
	}
	&__items{
		width: calc(100% / 3);
		margin: 0 50px;
		@media (max-width: 1112px){
			margin: 0 10px;
		}
		@media (max-width: 1000px){
			width: calc(100% / 2);
		}
	}
	&__item{
		margin-bottom: 50px;
		&-title{
			display: block;
			color: var(--blueColor);
			margin-bottom: 10px;
			text-transform: uppercase;
			font-size: 22px;
			text-shadow:
			-0 -1px 2px #170F70,
			0 -1px 2px #170F70,
			-0 1px 2px #170F70,
			0 1px 2px #170F70,
			-1px -0 2px #170F70,
			1px -0 2px #170F70,
			-1px 0 2px #170F70,
			1px 0 2px #170F70,
			-1px -1px 2px #170F70,
			1px -1px 2px #170F70,
			-1px 1px 2px #170F70,
			1px 1px 2px #170F70,
			-1px -1px 2px #170F70,
			1px -1px 2px #170F70,
			-1px 1px 2px #170F70,
			1px 1px 2px #170F70;
			@media (max-width: 600px){
				font-size: 14px;
			}
		}
		&-dscr{
			&-item + &-item{
				margin-top: 12px;
				display: block;
				@media (max-width: 600px){
					margin-top: 10px;
				}
			}
			&-item{
				line-height: 18px;
				font-size: 16px;
				@media (max-width: 600px){
					font-size: 12px;
				}
			}
		}
	}
}

.footer{
	padding: 90px 0 20px 0;
	position: relative;
	@media (max-width: 600px){
		padding-top: 50px;
	}
	&::before{
		content: '';
		position: absolute;
		width: 75%;
		height: 1px;
		top: 0;
		left: 0;
		display: none;
		background: var(--textColor);
		@media (max-width: 600px){
			display: block;
		}
	}
	&__logo{
		max-width: 120px;
		margin-bottom: 30px;
		&-text{
			@media (max-width: 1112px){
				font-size: 12px;
			}
			@media (max-width: 600px){
				font-size: 14px;
			}
		}
		@media (max-width: 950px){
			width: 40px;
			margin-right: 30px;
			margin-bottom: 0;
		}
	}
	&__inner{
		margin-bottom: 104px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: 1112px){
			margin-bottom: 60px;
		}
		@media (max-width: 950px){
			flex-direction: column;
			align-items: flex-start;
		}
		@media (max-width: 600px){
			align-items: flex-start;
			margin-bottom: 50px;
		}
	}
	&__item-inner-wrap{
		align-items: center;
		display: grid;
		grid-template-columns: repeat(2, minmax(auto, 1fr));
		gap: 0 92px;
		@media (max-width: 1112px){
			gap: 0 10px;
			margin-left: 36px;
		}
		@media (max-width: 950px){
			grid-template-columns: repeat(1, minmax(auto, 1fr));
			margin-left: 0;
		}
		.footer__item{
			max-width: 221px;
			@media (max-width: 600px){
				max-width: 100%;
			}
		}
	}
	.menu__list-footer{
		@media (max-width: 950px){
			margin-bottom: 50px;
			& *{
				color: #858585;
			}
		}
	}
	.menu__item {
		width: 100%;
	}
	.menu__list + .menu__list{
		margin-top: 30px;
	}
	.menu__item + .menu__item{
		margin-top: 10px;
	}
	.menu__item{
		text-transform: uppercase;
		font-size: 12px;
	}
	&__contact-dscr + &__contact-dscr{
		margin-top: 20px;
	}
	&__contact-dscr{
		font-size: 16px;
	}
	&__title-grey{
		font-size: 12px;
		color: #858585;
		margin-bottom: 7px;
	}
	&__social{
		margin-top: 20px;
	}
	&__social-items{
		display: flex;
		margin: 6px -3px 0 -3px;
	}
	&__social-item{
		margin: 0 3px;
		width: 32px;
		height: 32px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		&:nth-child(1){
			background-image: url("../img/icons/social-1.svg");
		}
		&:nth-child(2){
			background-image: url("../img/icons/social-2.svg");
		}
		&:nth-child(3){
			background-image: url("../img/icons/social-3.svg");
		}
		&:nth-child(4){
			background-image: url("../img/icons/social-4.svg");
		}
	}
	&__copy{
		font-size: 12px;
		color: #858585;
	}
	&__item-1{
		@media (max-width: 950px){
			margin-bottom: 50px;
		}
		@media (max-width: 950px){
			margin-bottom: 50px;
			display: flex;
			align-items: center;
		}
	}
}
